$default-black: #cfcfcf;
$default-gray: #a75151;
$default-dark-gray: #9b0404;
$default-light-gray: #b46565;
$default-white: #ececec;
$default-dark-orange: #d6c800;
$default-orange: #eca200;
$default-light-orange: #dfc691;
$default-dark-green: #818a0b;
$default-green: #00ffb3;
$default-light-green: #78c7b3;