$default-black: #181717;
$default-gray: #757575;
$default-dark-gray: #222222;
$default-light-gray: #b8b8b8;
$default-white: #ececec;
$default-dark-orange: #917600;
$default-orange: #d4a43a;
$default-light-orange: #f5cd76;
$default-dark-green: #685001;
$default-green: #00ffb3;
$default-light-green: #78c7b3;